.track {
    border-bottom: 1px solid rgba(199, 199, 204, 0.2);
    padding-bottom: 5px;
}
.track__name {
    font-weight: bold;
    color: #f1f1f1;
    margin-bottom: 5px;
}
.track__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.track__details {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.track__artist {
    color: #7f8381;
    margin: 0;
}
.track__album {
    color: #7f8381;
    margin: 0;
}
.btn {
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background 0.2s ease;
}

.btn--icon {
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.btn--icon:hover {
    background-color: #FF5C8A;
    color: #f1f1f1;
}