.app {
  background-color: #191414;
}
.app__header {
  background-color: #1DB954;
  padding: 20px;
  text-align: center;
}

.app__main {
  background-color: #191414;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.app__columns {
  background-color: rgba(9, 8, 7, 0);
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

