.searchBar {
    display: flex;
    align-items: center;
    width: 80%;
    border: 1px solid #1DB954;
    border-radius: 4px;
    margin-bottom: 40px;
}

.searchBar__input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.1em;
    border-radius: 4px 0 0 4px;
    background-color: #171e1959;
    color: #f1f1f1;
    padding: 10px;
}

.searchBar__button {
    background-color: #1DB954;
    border: none;
    border-radius: 0 4px 4px 0;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.1em;
}
.searchBar__button:hover {
    background-color: #FF5C8A;
}

@media screen and (min-width: 768px) {
    .searchBar {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .searchBar {
        width: 50%;
    }
}